.Footer{
    height: 8%;
    background-color: #1f2020;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .Footer p, .Footer a{
    margin: 0 10px;
  }
  
  .Footer a{
    color: #242424;
    text-decoration: none;
  }
  
  .Footer a:hover{
    text-decoration: underline;
  }
  
  a{
    color: #F5F3F4;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .Footer {
      padding-top: 5%;
      width: 100%;
      height: auto;
      flex-direction: column;
    }
    
    .Footer p, .Footer a {
      margin: 10px 0;
    }
  }
  