.Page {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .LeftContainer{
    width: 25%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .RightContainer {
    width: 75%;
  }
  
  .container {
    margin: auto;
    width: 80%; /* or 90%, or any other percentage value */
    max-width: 1200%; /* or any other maximum width value you want */
  }
  
  .usrInput {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.2rem solid gray;
    font-size: 1rem;
  }
  
  .navi-icon {
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 5rem;
    padding-bottom: 2rem;
  }
  
  .navi .MuiSvgIcon-root {
    font-size: 4rem;
  }
  
  .navi {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
    flex-grow: 1;
    width: 100%; /* Make the navi element take up the full width of its container */
  }
  
  .navi-btn {
    display:inline-flex;
    vertical-align: middle;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1rem;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navi-btn:hover {
    color: gray;
  }
  
  .logo {
    width: 21rem;
    height: 12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .container {
    position: relative;
  }
  
  .usrInput {
    padding-right: 4rem; /* add padding to make space for the arrow */
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .arrow::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid black;
  }
  
  .container {
    position: relative;
  }
  
  .usrInput::after {
    content: "\2192"; /* ASCII code for right arrow */
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: grey;
    pointer-events: none; /* make the arrow icon unclickable */
  }
  
  .sprite{
    width: 30rem;
    height: 20rem;
  }
  